html, body {
  background: #1A1626;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.body-wrap {
  background: #F2F2F2;
  margin: 0 auto;
  width: 800px;
}

h1 {
  text-align: center;
  color: white;
  font-size: 40px;
  display: absolute;
  margin: auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
  margin-bottom: 5px;
}

section {
  margin: 0 auto;
  padding: 20px 20px 0 20px;
  width: 800px;
}

section:last-child {
  padding-bottom: 20px;
}

.about p {
  text-align: center;
}

input, button {
  height: 40px;
}

input {
  padding: 0 10px;
  width: 300px;
}

h2 {
  text-align: center;
  color: black;
  display: block;
  margin: 0;
  padding: 10px 0;
  width: 100%;
}

nav p {
  text-align: center;
  color: white;
  font-size: 14px;
  display: absolute;
  margin: auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

/* Nav */

nav {
  background-image: url("bg.jpg");
  background-size: cover;
  background-position: top;
  position: relative;
  height: 400px;
  } 

footer {
  background: #E04A50;
  color: white;
  padding: 20px;
}

/* Instructions */

.sendmoney {
  float: left;
}

/* Footer */

footer {
  height: 30px;
  margin-top: 20px;
  padding: 0 20px;
}

footer p {
  font-size: 12px;
  line-height: 30px;
  margin: 0;
}


